body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'BenchNine', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* Intro Section */
#intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    font-size: 30px;
    animation: fadeOut 5s forwards 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.intro-text {
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.intro-text:nth-child(2) {
    animation-delay: 3s;
}

/* Main Content */
#main-content {
    display: none;
    background-color: #e6e6fa; /* Light Purple */
    color: #4b0082; /* Darker Purple */
    padding: 30px;
    text-align: center;
    max-width: 650px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 18px;
}
.doodle {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.5;
}
.moon {
    top: 10px;
    left: 10px;
}
.cat {
    bottom: 10px;
    right: 10px;
}
h1 {
    font-size: 50px;
    margin: 0;
    color: #4b0082;
}
.date {
    font-size: 20px;
    margin-bottom: 25px;
    color: #4b0082;
}
.content {
    text-align: left;
}
